services:
  gateway:
    image: nginx:latest
    container_name: metamapa-gateway
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - metamapa-net
    depends_on:
      - agregador
      - usuarios-service
      - metamapa-service
    deploy:
      resources:
        limits:
          memory: 100M
          cpus: '0.20'
  prometheus:
    image: prom/prometheus:latest
    container_name: metamapa-prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - metamapa-net
    deploy:
      resources:
        limits:
          cpus: '0.20'
          memory: 200M

  metamapa-service:
    build:
      context: ../Metamapa/metamapa-service
      dockerfile: Dockerfile
    container_name: metamapa-service
    ports:
      - "9000:9000"
    environment:
      - SERVER_PORT=9000
      - M_AGREGADOR_SERVICE_URL=http://agregador:9004
      - M_USUARIOS_SERVICE_URL=http://usuarios-service:9005
      - JAVA_OPTS=-Xmx512m -Xms256m
    networks:
      - metamapa-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        limits:
          cpus: '0.80'
          memory: 600M

  fuente-dinamica:
    build:
      context: ../Metamapa/M-FuenteDinamica-Service
      dockerfile: Dockerfile
    container_name: fuente-dinamica
    volumes:
      - ./data/fuente-dinamica/archivos:/app/multimedia
    ports:
      - "9001:9001"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:sqlserver://host.docker.internal:1433;databaseName=MetamapaDB_FD;encrypt=true;trustServerCertificate=true
      - SPRING_DATASOURCE_USERNAME=miusuario
      - SPRING_DATASOURCE_PASSWORD=mipassword
      - SERVER_PORT=9001
      - JAVA_OPTS=-Xmx256m -Xms128m
    networks:
      - metamapa-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        limits:
          cpus: '0.30'
          memory: 300M

  fuente-estatica:
    build:
      context: ../Metamapa/M-FuenteEstatica-Service
      dockerfile: Dockerfile
    container_name: fuente-estatica
    volumes:
      - ./data/fuente-estatica/pendientes:/app/data/pendientes
      - ./data/fuente-estatica/procesados:/app/data/procesados
    ports:
      - "9002:9002"
    environment:
      - SERVER_PORT=9002
      - JAVA_OPTS=-Xmx1024m -Xms512m
    networks:
      - metamapa-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        limits:
          cpus: '0.30'
          memory: 300M

  agregador:
    build:
      context: ../Metamapa/M-Agregador-Service
      dockerfile: Dockerfile
    container_name: agregador
    ports:
      - "9004:9004"
    environment:
      - SERVER_PORT=9004
      - SPRING_DATASOURCE_URL=jdbc:sqlserver://host.docker.internal:1433;databaseName=MetamapaDB_Agregador;encrypt=true;trustServerCertificate=true
      - SPRING_DATASOURCE_USERNAME=miusuario
      - SPRING_DATASOURCE_PASSWORD=mipassword
      - M_FUENTEDINAMICA_SERVICE_URL=http://fuente-dinamica:9001
      - M_FUENTEESTATICA_SERVICE_URL=http://fuente-estatica:9002
      - M_ESTADISTICA_SERVICE_URL=http://estadistica-service:9008
      - JAVA_OPTS=-Xmx2000m -Xms900m  # Le damos 1.5GB a Java para procesar los mapas
      - AKISMET_KEY=401e1369cc60
      - AKISMET_URL=https://santiagosiclari.org
    depends_on:
      - fuente-dinamica
      - fuente-estatica
      - estadistica-service
    networks:
      - metamapa-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
      - "santiagosiclari.org:host-gateway" # Permite resolver tu dominio internamente
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 2048M

  usuarios-service:
    build:
      context: ../Metamapa/M-Usuarios-Service
      dockerfile: Dockerfile
    container_name: usuarios-service
    ports:
      - "9005:9005"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:sqlserver://host.docker.internal:1433;databaseName=MetamapaDB_Usuarios;encrypt=true;trustServerCertificate=true
      - SPRING_DATASOURCE_USERNAME=miusuario
      - SPRING_DATASOURCE_PASSWORD=mipassword
      - SERVER_PORT=9005
      - JAVA_OPTS=-Xmx400m -Xms200m
    networks:
      - metamapa-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 500M

  fuente-demo:
    build:
      context: ../Metamapa/M-FuenteDemo-Service
      dockerfile: Dockerfile
    container_name: fuente-demo
    ports:
      - "9006:9006"
    environment:
      - SERVER_PORT=9006
      - JAVA_OPTS=-Xmx256m -Xms128m
    networks:
      - metamapa-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        limits:
          cpus: '0.30'
          memory: 300M

  fuente-metamapa:
    build:
      context: ../Metamapa/M-FuenteMetamapa-Service
      dockerfile: Dockerfile
    container_name: fuente-metamapa
    ports:
      - "9007:9007"
    environment:
      - SERVER_PORT=9007
      - JAVA_OPTS=-Xmx256m -Xms128m
    networks:
      - metamapa-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        limits:
          cpus: '0.30'
          memory: 300M

  estadistica-service:
    build:
      context: ../Metamapa/M-Estadistica-Service
      dockerfile: Dockerfile
    container_name: estadistica-service
    ports:
      - "9008:9008"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:sqlserver://host.docker.internal:1433;databaseName=MetamapaDB_Agregador;encrypt=true;trustServerCertificate=true
      - SPRING_DATASOURCE_USERNAME=stats_user
      - SPRING_DATASOURCE_PASSWORD=Stats_Pass_2025!
      - SERVER_PORT=9008
      - JAVA_OPTS=-Xmx400m -Xms200m
    networks:
      - metamapa-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 500M

networks:
  metamapa-net:
    driver: bridge