<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Fuente Dinamica</title>
</head>
<body>
<section>
    <h1 th:text="${agregador.id}">Nombre de la Fuente</h1>
</section>

<section>
    <h2>Hechos asociados</h2>
    <table border="1">
        <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Categoría</th>
            <th>Fecha</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</section>
</body>
</html>
