body { font-family: Arial, sans-serif; margin: 0; background: #f9f9f9;  overflow-x: hidden; }
header { background: #0d6efd; color: #fff; padding: .5rem 1rem; }
nav button {
    margin-right: .5rem; background: #fff; border: none; padding: .5rem 1rem;
    border-radius: .25rem; cursor: pointer;
}
nav button:hover { background: #e0e0e0; }
#contenido { padding: 1rem; }
#map { height: 70vh; margin-top: 1rem; }
footer { text-align: center; padding: 1rem; background: #eee; }
.error { color: red; }
.charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}
canvas {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

.mapa {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.mapa-leyenda {
    background: rgba(255, 255, 255, 0.9);
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 13px;
    line-height: 1.4;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.mapa-seleccion {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
#mapaUbicacion {
    height: 400px;
    border-radius: 10px;
    border: 2px solid #198754;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

#radioLabel {
    font-weight: bold;
    color: #198754;
    margin-left: 10px;
}

#modoNav {
    width: auto;
    display: inline-block;
}
/* Animación de carga */
@keyframes skeleton-loading {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

/* Skeleton para cada celda de la tabla */
.skeleton-cell {
    height: 18px;               /* Altura similar al contenido real */
    border-radius: 4px;         /* Bordes suaves */
    background: linear-gradient(
            90deg,
            #e0e0e0 25%,
            #f5f5f5 50%,
            #e0e0e0 75%
    );                           /* Degradado animado */
    background-size: 400% 100%;  /* Para la animación */
    animation: skeleton-loading 1.2s linear infinite; /* Animación continua */
}